nav {
    display: none;
    // width: 31%;
  }
  .outter-style nav {
    display: block;
  }
  

  ul {
    padding: 0px;
    list-style-type: none;
    margin: 0px;
  }
  li {
    
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: blueviolet;
    margin-bottom: 23px;
    font-size: 15px;
    font-style: italic;
    font-family: cursive;
    padding: 0px;
    height: 58px;
    width: auto;
    border-radius: 0px 16px 16px 0px;
    
  }
  li a.active {
    padding: 19px;
    border-left: 48px solid #03a9f4;
    position: relative;
    top: 19px;
    transition: 1s;

  }
  
  li a {
    color: white;
    padding: 19px 46px;
    position: relative;
    top: 19px;
  }
  
  .scroll {
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 15rem;
    height: 100%;
    z-index: 1;
    background: white;
  }
  
  .headingText {
    font-family: cursive;
    margin: 10px;
    font-size: xx-large;
    padding: 10px;
  }
  .outter-style .scroll {
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  @media (min-width: 1280px) {
    nav {
      display: block;
    }
    .outter-style .scroll {
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
      }

  }

  