<div [ngClass]="(navClicked) ? 'outter-style' : ''">
<nav>
    <div class="scroll">
        <p class="headingText">Hello world</p>
        <mat-icon color="primary">check</mat-icon>

        <ul>
            <li><a routerLink="/first-component" routerLinkActive="active">First Component</a></li>
            <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li>
            <li><a routerLink="/second-component" routerLinkActive="active">Third Component</a></li>
            <li><a routerLink="/second-component" routerLinkActive="active">Fouth Component</a></li>
            <li><a routerLink="/second-component" routerLinkActive="active">Fifth Component</a></li>
            <li><a routerLink="/second-component" routerLinkActive="active">Sixth Component</a></li>
            <li><a routerLink="/second-component" routerLinkActive="active">Seventh Component</a></li>
            <li><a routerLink="/second-component" routerLinkActive="active">Eigth Component</a></li>
            <li><a routerLink="/second-component" routerLinkActive="active">Nineth Component</a></li>
            <li><a routerLink="/second-component" routerLinkActive="active">Tenth Component</a></li>
            <li><a routerLink="/second-component" routerLinkActive="active">Twelve Component</a></li>
            <li><a routerLink="/second-component" routerLinkActive="active">Fourteen Component</a></li>
        </ul>
    </div>
</nav>
</div>